.container {
	width: 800px;
	height: 500px;
	margin: auto;
	font-size: 0;
}

.row {
	display: inline-block;
	border: 1px solid black;
	}

.top {
	width: 50%;
	height: 200px;
	font-size: 0;
}

.bottom {
	width: 33.33%;
	height: 300px;
	font-size: 0;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}
