.container {
	padding-left: 60px
	padding-right:60px;
}


nav {
	background-color: grey;
	position: fixed;
	width: 100%;
	height: 60px;
}

nav .icon-img {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 1px solid black;
  vertical-align: middle;
}

nav ul {
	display: inline-block;
	list-style: none;

}

nav li {
	display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
	color: black;
}

body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

main {
	padding-top: 90px;
	min-width: 1000px;
}

.box {
	margin-top: 150px;
	width: 600px;
	height: 300px;
    margin-left: auto;
    margin-right: auto;
	border: 10px dotted green;
	position: relative;
}

img.spacecat {
	position: absolute;
	width: 200px;
	height: 200px;
	left:-100px;
	top: -100px;
}

img.spacedog {
	position: absolute;
	width: 200px;
	height: 200px;
	right: -100px;
	bottom: -100px;
}
